<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.com">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Home page</title>
  </head>
<!--    <style type="text/css">
.back-img{
background:url("img/n123.jpg");
width:100%;
height:80vh;
background-repeat:no repeat;
background-size:cover;

}
</style>-->
  <body>
	  
	  <!--nabvar start-->
	  
	  <div>
		
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
 <!-- <a class="navbar-brand" href="#">NIC Management System</a>-->
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
	aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
   <!--   <li class="nav-item active"> 
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      -->
       
        <li class="nav-item active">
        <a class="nav-link" href="#">Report Data</a>
      </li>
      
      
     
        <li class="nav-item active">
        <a class="nav-link" href="#">Graphical Data </a>
      </li>
   
     <li class="nav-item active">
        <a class="nav-link" href="#">Historical Data</a>
      </li>
  
      
      <li class="nav-item active">
        <a class="nav-link" href="#">Add NIC Data</a>
      </li>
   
      
    </ul>
 
  </div>
</nav>
		  
	  </div>
    <!--nabvar end-->
    
 <div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<div class="card">
					<div class="card-body">
						<h4 class="text-center text-primary">Add NIC Data</h4>

						<form th:action="@{/Con}" method="post">

							<div class="form-group">
								<label>Enter user_name</label> <input type="text"
									class="form-control" name="user_name">
							</div>

						 <div class="form-group">
								<label>Enter station_name</label> <input type="text"
									class="form-control" name="station_name">
							</div>

							<div class="form-group">
								<label>Enter parameter_name</label> <input type="text"
									class="form-control" name="parameter_name">
							</div>


							<div class="form-group">
								<label>Enter parameter_unit</label> <input type="number"
									class="form-control" name="parameter_unit">
							</div>


							<div class="form-group">
								<label>Enter status</label> <input type="text"
									class="form-control" name="status">
							</div>

							<button class="btn btn-primary btn-block">Submit</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

		
		
	</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
<!--   <link rel="stylesheet" href="footer/b.html">
  <div class="container-fluid back-img">
	  

	  
<!--<div class="container-fluid bg-white">
       <p class="text-center text-white">Note: Any Errors Occur then Contact code with Rinkan , Designed and Developed by Rinkan Behera</p>
       <p class="text-center text-white">All Right Reserved @codewithrinkan-2023-24 </p>
</div>-->

  </body>
</html>