<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">


<link rel="stylesheet" th:href="@{/css/a.css}">

<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">

<link
	href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css"
	rel="stylesheet">

<title>Admin Login Page</title>
</head>
<body>
	<div class="container col-md-5 mt-5 ">
		<div class="row">
		<h2>Admin Login</h2>
			<form id="loginform">
				<!-- Email input -->
				<div class="form-outline mb-4">
					<input type="email" id="form2Example1" name="admin_email" class="form-control" /> <label
						class="form-label" for="form2Example1">Email address</label>
				</div>

				<!-- Password input -->
				<div class="form-outline mb-4">
					<input type="password" id="form2Example2" name="admin_password" class="form-control" />
					<label class="form-label" for="form2Example2">Password</label>
				</div>

				<button type="submit" class="btn btn-primary form-control btn-block mb-4">Login</button>
				 </form>
		      </div>
	<!-- Register buttons -->
		<div class="text-center">
			<p>
				You Want To Go ? <a href="/">Back</a>
			</p>
			
		</div>
		
	</div>

	</div>
	<script src="https://code.jquery.com/jquery-3.7.0.js"
		integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
		
		
		<script>
  	$(document).ready(function(){
  		console.log("page is ready .....")
  		$("#loginform").on('submit',function(event){
  			event.preventDefault();
			var f=$(this).serialize();
			$.ajax({
  				url:"/adminlogin",
  				data:f,
  				method:'POST',
				
				success:function(data,textStatus,jqXHR){
					var status = JSON.parse(data);					
					if(status==1){
						alert("Login Succesfully!");
						window.location.href = '/dashboard';
					}else{
						alert("Login Failed!");
						window.location.href = '/admin_login';
					}
					 
  				},
				error:function(jqXHR,textStatus,errorThrown){
					console.log("error...")
  				}
  			})
  		})
  	})
  </script>
</body>
</html>